body{
	background: #d2d2c1 url(imagens/fundo.png);
	margin: 0;
	font: 16px Arial, Helvetica, sans-serif;
}

#principal {
	width: 900px;
	height: 500px;
}

#menu {
	background: #c5c5b2;
	padding: 20px;
}

#conteudo {
	background: #e6e6d9;
	padding: 10px;
}

.centralizar {
	text-align: center;
}

.img-campanha {
	border: 10px solid #c3c3ae;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #4b566a;
	padding: 5px;
}

h1 {
	color: #828271;
	font-size: 1.2em;
}

p {
	text-align: justify;
}


